<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/static/CSS/style.css">
</head>
<body>
    <div class="navbar">
        <nav>
            <ul>
                <li class="nav-item">My Book Recommendor</li>
                <li id="home"><a href="/">🏠 Home</a></li>
                <li id="recommendations"><a href="/recommendations">📕 Recommendations</a></li>
                <li id="about"><a href="/about">ℹ️ About</a></li>
            </ul>
        </nav>
    </div>
    <div>
    <h1>Recommendations Section</h1>
    <div class = "recommendations-container">
        <div class = "recommendations-row">
            <div class = "recommendations-col-12">
                <div class="search-container">
                    <input type="text" class="search-input" placeholder="Enter a book name">
                    <button class="search-btn">Get Recommendations</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>